/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Body and Font Styling */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #fffde9;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

body p {
  text-align: center;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* header */
header {
  background-color: #fddb3a;
  text-align: center;
  margin-bottom: 2rem;
}
  
header h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 10px;
} 


/* Navigation Styling */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
  
nav ul li {
  margin: 0 10px;
}
  
nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #ff9800;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}
  
nav ul li a:hover {
  background-color: #ff5722;
}

/* Main Content Styling */
main {
  padding: 30px;
  background-color: #fffdf2;
}

section{
  margin-bottom: 50px;
}

section h2 {
  font-size: 2.2rem;
  color: #ff9800;
  text-align: center;
  margin-bottom: 20px;
}


/* Gallery Styling */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image img:hover {
  margin: 5px;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

figcaption h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #ff9800;
  color: white;
  font-weight: bold;
}

td {
  background-color: #fff8d1;
}

/* Footer Styling */
footer {
  background-color: #ffeb3b;
  padding: 20px 0;
  text-align: center;
}
  
footer p {
  font-size: 1.1rem;
  color: #333;
}

footer a:hover {
  color:#ff5722;
}

/* Responsive Design */
@media (max-width: 950px) {

  header h1 {
    font-size: 2.5rem;
  }

  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    padding: 10px 30px;
  }

  section h2 {
    font-size: 2rem;
  }

  table th, table td {
    font-size: 1rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

}