/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
text-align: center;
margin-bottom:2rem;
}
  
header h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

.div Pho{
  display:flex;
  flex-direction: row;
}
h2{
  text-align: left;
  padding: 1em;
  
}

/* Navigation Styling */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
  
nav ul li {
    margin: 0 15px;
}
  
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
  
nav ul li a:hover {
    background-color: #ff5722;
}

/* Body and Font Styling */
body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #fffde9;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

main {
  padding: 20px;
}

.section{
  margin-bottom: 40px;
}

.photo{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.image img{
  width: 150;
height: 150;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Footer Styling */
footer {
    background-color: #ffeb3b;
    padding: 20px 0;
    text-align: center;
}
  
footer p {
    font-size: 1.1rem;
    color: #333;
}
